{
  "name": "CI/CD Pipeline - Node.js + Docker + AWS EC2",
  "on": {
    "push": {
      "branches": [
        "main"
      ]
    }
  },
  "jobs": {
    "build-and-deploy": {
      "name": "Build → Push → Deploy",
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "name": "Step 1: Checkout code",
          "uses": "actions/checkout@v4"
        },
        {
          "name": "Step 2: Set up Docker Buildx",
          "uses": "docker/setup-buildx-action@v3"
        },
        {
          "name": "Step 3: Log in to Docker Hub",
          "uses": "docker/login-action@v3",
          "with": {
            "username": "${{ secrets.DOCKER_USERNAME }}",
            "password": "${{ secrets.DOCKER_TOKEN }}"
          }
        },
        {
          "name": "Step 4: Build and Push Docker image",
          "uses": "docker/build-push-action@v6",
          "with": {
            "context": ".",
            "file": "Dockerfile",
            "push": true,
            "tags": [
              "${{ secrets.DOCKER_USERNAME }}/nodejs-getting-started:latest",
              "${{ secrets.DOCKER_USERNAME }}/nodejs-getting-started:${{ github.sha }}"
            ]
          }
        },
        {
          "name": "Step 5: Deploy on EC2 instance",
          "uses": "appleboy/ssh-action@v1.1.0",
          "with": {
            "host": "${{ secrets.EC2_HOST }}",
            "username": "${{ secrets.EC2_USER }}",
            "key": "${{ secrets.SSH_PRIVATE_KEY }}",
            "port": 22,
            "script": "echo \"Pulling latest Docker image...\"\ndocker pull ${{ secrets.DOCKER_USERNAME }}/nodejs-getting-started:latest\n\necho \"Stopping and removing old container (if exists)...\"\ndocker stop nodeapp || true\ndocker rm nodeapp || true\n\necho \"Starting new container...\"\ndocker run -d -p 80:5000 --name nodeapp ${{ secrets.DOCKER_USERNAME }}/nodejs-getting-started:latest"
          }
        }
      ]
    }
  }
}